
   body { 
  background: url("bgimg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.head{
	margin-top: 10%;
	text-shadow: 2px 2px #eeeee4;
	color: black;
	padding: 2%;
	text-align: center;

}


.main{
	
	    text-shadow: 2px 2px #eeeee4;
	margin-left: 25%;
	color: black;

}
.first{
	margin-top: 10%;
	text-shadow: 2px 2px #eeeee4;
color: black;
text-align: center;
}
@media only screen and (max-width: 600px) {
  .main{
	margin-left: 7%;
	text-shadow: 2px 2px #eeeee4;
	color: black;

}
.head{
	margin-top: 20%;
}
.first{
	margin-top: 20%;
}
}

.lab{

margin-left: 20%;

margin-bottom: 1%;
color: black;
text-shadow: 2px 2px #eeeee4;
}
.inp{
	
border-width: 5px;
}


.but{
margin-left: auto;
margin-right: auto;
}

.second{
	text-shadow: 2px 2px #eeeee4;
	color: white;
	font-weight: 10px;
	color: black;
}
.image{
	background-color: #7CB9E8;
	
	border-radius: 50px;
}
.back{
	
	margin: 2%;

}
